/vendor/
/output/
/uploads/


# ========================= # SISTEMA OPERACIONAL # ========================= .
.DS_Store 
Thumbs.db

# ========================= # IDE / EDITOR # ========================= 
.vscode/ 
.idea/
